<#@ template language="C#" #>
<#@ output extension=".cs" #>

using System.Reflection;

[assembly: AssemblyVersion("<#= this.version #>")]
[assembly: AssemblyFileVersion("<#= this.version #>")]

<#+
	string version = "1.5.1";
#>