<#@ template language="C#" #>
<#@ output extension=".cs" #>

using System;
using System.Reflection;

[assembly: AssemblyVersion("<#= this.ver #>")]
[assembly: AssemblyFileVersion("<#= this.ver #>")]
<#+
	static string mainVersion = "1.2";

	static DateTime now = DateTime.UtcNow;

    static string days = now.Day + "" + now.Month;
	static string minutes = now.TimeOfDay.Hours + "" + now.TimeOfDay.Minutes;

	string ver = mainVersion + "." + days + "." + minutes;
#>